In [6]:
import pandas as pd
from google.colab import files
import io

uploaded = files.upload()

Saving 20221122_Test Excel.xlsx to 20221122_Test Excel (1).xlsx

In [7]:
df = pd.read_excel(io.BytesIO(uploaded['20221122_Test Excel.xlsx']))

In [8]:
df.columns

Index(['Company', 'City', 'State', 'Advisor Seller', 'Seller', 'Advisor Buyer',
       'Buyer', 'Deal (M USD)', 'Date', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11'],
      dtype='object')

In [9]:
df.head

<bound method NDFrame.head of                             Company           City          State  \
0         Fadel, Beahan and Keebler        Lincoln       Nebraska
1                Daugherty and Sons  Oklahoma City       Oklahoma
2                    Willms - Bosco       Marietta        Georgia
3    Romaguera, Spencer and Tillman      Worcester  Massachusetts
4                    Fahey - Hessel       Beaumont     California
..                              ...            ...            ...
145                     Mante Group     Rio Rancho     New Mexico
146  Romaguera, Baumbach and Willms       Thornton       Colorado
147                  Boehm and Sons    Carson City         Nevada
148                     Sauer Group        Norwalk    Connecticut
149           Huel, Stehr and Bauch     North Port        Florida

                Advisor Seller            Seller               Advisor Buyer  \
0              O'Kon - Smitham      Anais Marcus                 Mueller LLC
1                   Dooley LLC  Emmerson Gaffney          Aufderhar - Hamill
2           Botsford - Wiegand   Murray Stricker         Runolfsdottir Group
3              Harvey and Sons     Hadlee Coates  Connelly, Haag and Mueller
4            Bauch - Bashirian     Koby Blaylock         Runolfsdottir Group
..                         ...               ...                         ...
145  Nikolaus, Borer and Dicki   Khalani Goodall                   Kiehn LLC
146    Casper, Rath and Jacobi        Case Bruno                 Mueller LLC
147   Spencer, Moore and Terry      Avelyn Vargo                Paucek Group
148    Casper, Rath and Jacobi     Aadhya Mccain         Runolfsdottir Group
149              West - Turner      Jamel Marvin              Kozey - Schumm

                    Buyer  Deal (M USD)       Date  Unnamed: 9  Unnamed: 10  \
0         S2 Deal Finance           282 2019-09-24         NaN          NaN
1      GME Global Markets           347 2019-10-02         NaN          NaN
2     John Wilson Finance           124 2019-10-19         NaN          NaN
3    Towerbrokers Finance           377 2019-10-23         NaN          NaN
4       Credit Plus World           276 2019-10-25         NaN          NaN
..                    ...           ...        ...         ...          ...
145   John Wilson Finance           484 2022-10-08         NaN          NaN
146    GME Global Markets           345 2022-10-12         NaN          NaN
147       S2 Deal Finance           259 2022-10-13         NaN          NaN
148        Total F Series           362 2022-10-19         NaN          NaN
149         Hedley Realty           184 2022-10-27         NaN          NaN

                                       Unnamed: 11
0                       Total AuM of all the deals
1                                  Number of deals
2    City and State of the company "Pacocha Group"
3                    Total AuM deals in New Jersey
4                     Number of deals in Louisiana
..                                             ...
145                                            NaN
146                                            NaN
147                                            NaN
148                                            NaN
149                                            NaN

[150 rows x 12 columns]>

In [10]:
questions = df['Unnamed: 11']

In [11]:
df = df.drop(columns='Unnamed: 11')

In [12]:
questions[0]

'Total AuM of all the deals'

In [13]:
print(sum(df['Deal (M USD)']))

41929

In [14]:
questions[1]

'Number of deals'

In [15]:
print(len(df['Deal (M USD)']))

150

In [16]:
questions[2]

'City and State of the company "Pacocha Group"'

In [17]:
print(df.loc[df['Company'] == "Pacocha Group", ['City', 'State']] )

       City       State
14  Trenton  New Jersey

In [18]:
questions[3]

'Total AuM deals in New Jersey'

In [19]:
print(sum(df[df['State'] == 'New Jersey']['Deal (M USD)']))

1994

In [20]:
questions[4]

'Number of deals in Louisiana'

In [21]:
print(len(df[df['State'] == 'Louisiana']))

1

In [22]:
questions[5]

'Average AuM deals with "Wolff LLC" as Advisor Seller'

In [23]:
from numpy.core.fromnumeric import mean
print(mean(df[df['Advisor Seller'] == "Wolff LLC"]['Deal (M USD)']))

258.6

In [24]:
questions[6]

'City of the 5th deal'

In [25]:
df.iloc[4]['City']

'Beaumont'

In [26]:
questions[7]

'Number of deals in in California > 50M USD'

In [27]:
print(len(df[(df['State'] == "California") & (df['Deal (M USD)'] > 50) ]))

19

In [28]:
questions[8]

'Number of deals in 2021'

In [29]:
print(len(df[(df['Date'] >= '2021-01-01') & (df['Date'] <= '2021-12-31') ]))

41

In [30]:
questions[9]

'Smallest deal in California in 2022'

In [31]:
df_red = df[(df['Date'] >= '2022-01-01') & (df['Date'] <= '2022-12-31') ]

In [32]:
print(df_red[df[(df['Date'] >= '2022-01-01') & (df['Date'] <= '2022-12-31') ]['Deal (M USD)'] == df[(df['Date'] >= '2022-01-01') & (df['Date'] <= '2022-12-31') ]['Deal (M USD)'].min()])

         Company    City       State   Advisor Seller      Seller  \
115  Windler Inc  Auburn  Washington  O'Kon - Smitham  Anisa Mota

        Advisor Buyer        Buyer  Deal (M USD)       Date  Unnamed: 9  \
115  Streich and Sons  RTP Company            22 2022-04-10         NaN

     Unnamed: 10
115          NaN

In [33]:
questions[10]

'Surname of the first seller'

In [34]:
df.iloc[0]['Seller'].split()[-1]

'Marcus'

In [35]:
questions[11]

'Number of deals in cities whose name starts with G'

In [36]:
print(len(df[df['City'].str.startswith('G')]))

6

In [37]:
questions[12]

'Name of the company sold by Viraj Heinz'

In [38]:
print(df.loc[df['Seller'] == "Viraj Heinz", 'Company'] )

108    Wisozk Group
Name: Company, dtype: object

In [39]:
questions[13]

'State with the biggest deal'

In [40]:
print(df[df['Deal (M USD)'] == df['Deal (M USD)'].max()]['State'])

15    Virginia
Name: State, dtype: object

In [41]:
questions[14]

'Select a random Seller'

In [43]:
import random
print(random.choice(df['Seller']))

Randolph Etter

In [45]:
questions[15]

'First deal performed with "TJ Finance Services" as Buyer in Georgia'

In [53]:
print(df[(df['Buyer']=="TJ Finance Services") & (df['State'] == 'Georgia')].iloc[0])

Company               Kozey - Okuneva
City                         Columbus
State                         Georgia
Advisor Seller    Hilll - Schamberger
Seller                  Jakub Ritchey
Advisor Buyer         Metz - Bernhard
Buyer             TJ Finance Services
Deal (M USD)                      239
Date              2022-04-14 00:00:00
Unnamed: 9                        NaN
Unnamed: 10                       NaN
Name: 119, dtype: object

In [54]:
questions[16]

'Firm with the longest name'

In [66]:
print(df[df['Company'].str.len() == df['Company'].str.len().max()]['Company'])

142    McCullough, Runolfsdottir and Carroll
Name: Company, dtype: object

In [67]:
questions[17]

'Total deals of the State of the random Seller chosen above'

In [78]:
print(sum(df[df['State'] == df[df['Seller'] == 'Randolph Etter']['State'].item()]['Deal (M USD)']))

2650

In [79]:
questions[18]

'Last firm sold in California'

In [83]:
print(df[df.State == 'California'].sort_values('Date').iloc[-1])

Company                      Lakin - Bradtke
City                                 Hanford
State                             California
Advisor Seller    Cummerata, Block and Ferry
Seller                            Ziad Clare
Advisor Buyer                  DuBuque Group
Buyer                   Towerbrokers Finance
Deal (M USD)                             431
Date                     2022-08-28 00:00:00
Unnamed: 9                               NaN
Unnamed: 10                              NaN
Name: 139, dtype: object

In [84]:
questions[19]

'List of the companies bought by "Mundilak Capital"'

In [85]:
df[df.Buyer == "Mundilak Capital"]['Company']

23                   Hane Group
123    Larson, Wyman and Reilly
138    Gulgowski - Pfannerstill
Name: Company, dtype: object

In [86]:
questions[20]

'List of States with only one deal'

In [96]:
print(df.groupby('State').count()[df.groupby('State').count()['Buyer'] == 1].index)

Index(['Arkansas', 'Idaho', 'Iowa', 'Kentucky', 'Louisiana', 'Missouri',
       'Montana', 'Nebraska', 'New Hampshire', 'New York', 'Pennsylvania',
       'West Virginia'],
      dtype='object', name='State')

In [97]:
questions[21]

'Total number of Advisor Buyer'

In [99]:
print(len(df.groupby('Advisor Buyer')))

40

In [104]:
questions[22]

'Number of States with a 10-letter name'

In [105]:
print(len(df[df.State.str.len() <= 10]))

136

In [106]:
questions[23]

'Number of deals in February'

In [107]:
print(len(df[df['Date'].dt.month == 2]))

8

In [108]:
questions[24]

'List of the 3 people who sold their company for the highest value'

In [115]:
print(df.sort_values('Deal (M USD)')['Seller'][-3:])

70    Karsten Bussey
91    Kaysen Erdmann
15      Akshara Mesa
Name: Seller, dtype: object

In [111]:
questions[25]

'Average deal AuM for each Buyer, sorted alphabetically, rounded to unit'

In [126]:
pd.DataFrame(df.groupby('Buyer').mean()['Deal (M USD)']).sort_values('Buyer')

                      Deal (M USD)
Buyer
All-Bank Holdings       362.111111
Bruno Milgrom Team      290.571429
Credit Plus World       272.750000
Dilmore Investments     379.285714
Finance One Global      307.000000
Finance Partners        244.125000
GME Global Markets      290.166667
Hedley Realty           311.666667
Holly Parker Capital    225.700000
John Wilson Finance     244.083333
K.A.O. Finance          258.916667
LTD Finance Partners    167.166667
Morgan Houll Finance    219.500000
Mundilak Capital        258.333333
RTP Company             191.125000
S2 Deal Finance         278.625000
TJ Finance Services     308.750000
Total F Series          360.000000
Towerbrokers Finance    313.833333